html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
}

.sideNav {
    width: 30%;
    height: 100%;
    background: green;
    position: fixed;
    top: 0;
    left: 0;
}

.contain {
    margin-left: 30%;
    position: relative;
    width: 70%;
    overflow: hidden;
}