.cqHead_a{
    width: 100%;
}
.cqHead_a_pic,.cqBanner_tip_pic,.cqVipGift,.cqPower,.cqStarParty,.cqQuestion{
    width: 100%;
}

/**************************欢迎来到星享俱乐部*******************************/
.cqBanner,.cqRound{
    background-color: #252525;
    color: #ffffff;
}
.cqBanner_tit_pic,.cqVipGift_tit_pic{
    width: 80%;
    margin-top: 55px;
    margin-left: 12%;
}
.cqmain{
    overflow: hidden;
    padding-top: 50px;
}
.cqItem_padded,.cqitem{
    width: 24.5%;
    float: left;
    text-align: center;
}
.image img,.CQstar,.CQStarcn,.CQsrkit{
    width: 55%;
    margin-bottom: 10px;
}
.cqBanner h2{
    line-height: 30px;
}
.cqBanner .cqBanner_main .cqItem_padded p{
    width: 170px;
    display: inline-block;
    line-height: 18px;
}
.cqwhite{
    text-align: center;
    margin-top: 35px;
    padding-bottom: 10px;
}
.cqwhite a,.cqQueAueser a{
    color: #20b275;
}
.cqBanner p{
    line-height: 18px;
}

/***************************************积星升级******************************************/
.cqVipGift,.cqStarParty,.cqinpor{
    background-color: #f0eeec;
}
.cqitem{
    width: 33%;
    float: left;
}
.cqStarP{
    font-size: 16px;
    line-height: 28px;
}
.green{
    color: #20b275;
}
.gold{
    color: #d4b868;
}
.silver{
    color: #bcbcbd;
}

/**************************************会员权益*******************************************/
.cqPower{
    background-color: #f8f6f4;
}
.cqPowerUl{
    margin-left: 30%;
    margin-top: 20px;
    width: 54%;
}
.cqPowerUl li{
    list-style-type: disc;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}
.cqPowerUl li span,.cqStarPartyUl li span{
    color: #000;
}

/* *********************************星享俱乐部会员星礼包******************************** */
.cqStarPartyUl li{
    list-style-type: disc;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.cqStarPartyUl{
    margin-left: 10%;
    width: 80%;
}
.cqStarPartyUl h3{
    text-align: left;
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 16px;
}
.cqsmall{
    font-size: 12px;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}
.cqStarParty_pic1{
    margin-top: 45%;
    width: 80%;
}
.cqStarParty_pic2{
    margin-top: 40%;
    width: 95%;
}

/* **************************************获得星星的各种途径***************************************** */
.cqRoundLfet{
    height: 196px;
    width: 60%;
    float: left;
    padding-top: 10px;
}
.cqRoundRight{
    height: 196px;
    width: 39%;
    float: left;
    padding-top: 10px;
    border-left: #d4b868 1px solid;
}
.cqRoundLfet h2,.cqRoundRight h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.cq5Rou{
    float: left;
    margin-left: 5%;
}
.cq5RouR{
    margin-left: 12%;
}
.cq5Rou p{
    text-align: center;
    font-size: 16px;
}
.cq5Rou_pic{
    margin-bottom: 14px;
}

/* **********************************轻松注册会员****************************************** */
.cqinporLeft{
    width: 50%;
    float: left;
    text-align: center;
}
.cqinporRight{
    text-align: center;
    width: 49.5%;
    float: left;
    border-left: #252525 1px solid;
}
.cqinporH2{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 10px;
}
.cqinporP{
    line-height: 20px;
    color: #333;
    font-size: 16px;
}
.cqNewButtom{
    display: inline-block;
    width: 102px;
    height: 38px;
    border: 1px solid #20b275;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
    color: #20b275;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* *********************************常见问题*************************************** */
.cqQuestion{
    background-color: #ffffff;
}
.cqFaq{
    width: 6%;
    margin: 0 4%;
    line-height: 130px;
    margin-top: 20px;
    float: left;
}
.cqQuestion_wrap h2{
    line-height: 130px;
    font-size: 20px;
    float: left;
}
.cqQuestion_wrap span{
    float: right;
    margin-right: 4%;
    line-height: 130px;
}
.cqQuestion1,.cqQuestion2,.cqQuestion3{
    display: block;
    width: 100%; height: 130px;
}
.cqQuestion2,.cqQueAueser2{
    background-color: #ece9e7
}
.cqQueAueser{
    padding: 0 4% 20px 4%;
    display: none;
}
.cqQueAueser p,.cqQueAueser ul{
    line-height: 28px;
    margin-bottom: 30px;
    font-size: 16px;
}
.cqQueAueser ul li{
    list-style: disc;
    margin-left: 16px;
}
.cqpadding2em{
    margin-left: 4%;
}
.cqclickQuestion{
    cursor: pointer;
}

/*****************************************底部**********************************************/
.cqfooter{
    width: 100%;
    background: url(../images/CQfooter.png);
    background-size: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 50px 0;
}
.cqfooter a{
    color: #fff;
    font-size: 14px;
}
.cqfooter p{
    margin-bottom: 14px;
}
.cqfooter b{
    font-weight: 100;
}
.cqfooter img{
    margin-top: 3px;
}


/*************************************注册页面********************************************/
.cqNewHeaderPic,.cqNewHeaderPic_pic,.cqNewMain{
    width: 100%;
}
.cqNewMainLeft,.cqNewMainRight{
    float: left;
}
.cqNewMainLeft{
    width: 65%;
    padding-top: 180px;
}
.cqNewMainRight{
    width: 35%;
    padding: 32px 0 56px 0;
}
.cqregister_download_app_image_cn{
    width: 58%;
}
.cqNewMainLeft h2,.cqNewMainLeft p{
    margin: 0 5% 0 20%;
}
.cqNewMainLeft h2{
    margin-bottom: 28px;
    font-size: 22px;
}
.cqNewMainLeft p{
    font-size: 16px;
}


/************************************** 登录页面 ********************************/
/*************************二维码**********************/
.cqLogindiffcut1{
    padding-left: 28%;
    overflow: hidden;
    display: none;
}
.cqLogindiffcut1 h2{
    font-size: 16px;
    margin-top: 30px;
    float: left;
}
.cqQRlogin{
    background: url(../images/cqemail-login-tip.png) no-repeat;
}
.cqPWlogin{
    background: url(../images/cqqrcode-login-tip.png) no-repeat;
}
.cqQRlogin,.cqPWlogin{
    width: 100px; height: 100px;
    background-size: 100%;
    float: right;
    cursor: pointer;
}
.cqQRlogin p,.cqPWlogin p{
    margin: 5px 0 0 38px;
    -webkit-user-select:none;
}
.cqErweima{
    padding-top: 140px;
}
.cqqrcode{
    /* display: inline-block; */
    padding: 6px;
    border: 8px solid #ccc;
    float: left;
    margin-top: 16px;
    margin-right: 6%;
}
.cqphone_with_scanner{
    float: left;
    width: 23%;
    margin-bottom: 100px;
}
/************************账户 密码*************************/
.cqLogindiffcut2{
    padding-left: 26%;
    padding-bottom: 25px;
    overflow: hidden;
}
.cqForm{
    margin-top: 30px;
}
.cqUser,.cqWord,.cq_Remenber_or_Forget{
    padding-top: 25px;
    overflow: hidden;
}
.cqUserName,.cqPassWord{
    width: 432px; height: 34px;
    padding: 4px 0 0 0;
    background:none; 
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
.cqinput::-webkit-input-placeholder{
    font-size: 16px;
    color: #aaa;
}
.cqinput::-ms-input-placeholder{
    font-size: 16px;
    color: #aaa;
}
.cqinput{
    font-size: 18px;
    color: #333;
}
.cqForm label{
    font-size: 16px;
    position: relative;
    left: -438px;
    color: #999;
    display:none;
}
.cqRemenber{
    display: none;
}
.cq_Remenber_jia{
    /* display: inline-block; */
    border: #20b275 1px solid;
    color: #fff;
    width: 32px;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    float: left;
    cursor: pointer;
    -webkit-user-select:none;
    -ms-user-select:none;
}
.checked {
    background-color: #20b275;
}
.cq_Remenber_or_Forget{
    width: 432px;
}
.cq_Remenber_or_Forget b{
    color: #777;
    float: left;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    -webkit-user-select:none;
    -ms-user-select:none;
}
.cq_Remenber_or_Forget a{
    float: right;
    font-size: 16px;
    margin-top: 6px;
}
.cqNoEmpty{
    font-size: 16px;
    color: #777;
    margin-top: 8px;
    display: none;
}
.cqcha{
    color: rgb(247, 56, 56);
}
.cqWord i{
    font-size: 22px;
    color: #777;
    cursor: pointer;
    -webkit-user-select:none;
    -ms-user-select:none;
}
.cqWord{
    position: relative;
}
.cqWord .cqBuKeJian{
    position: absolute;
    left: 400px;
    top: 34px;
}
.cqWord .cqKeJian{
    position: absolute;
    left: 400px;
    top: 34px;
    display: none;
}


/************* 登录页面 底部 ******************/
.cqfootLogin2{
    background: url(../images/cqaccount-join-bg.png) no-repeat;
    background-size: 100%;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
}
.cqfootLogin2 h3{
    font-size: 22px;
    font-weight: 400;
}
.cqfootLogin2 p{
    line-height: 60px;
    font-size: 16px;
}
.cqfootLogin2 a{
    display: block;
    width: 50px; height: 28px;
    padding: 10px 0 0 18px;
    border: 1px solid #d4b868;
    border-radius: 19px;
    font-size: 16px;
}


/************* 滑块验证 *****************/
.cqcontainer {
    width: 310px;
    margin-left : 9%;
    margin-top: 20px;
  }
#msg {
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}
.cqblock {
	position: absolute;
	left: 15px;
	top: 0;
}
.cqsliderContainer {
	position: relative;
	width: 310px;
	height: 14px;
	border-radius: 7px;
	margin-top: 16px;
	background: #eee;
}
.cqsliderContainer_fail .cqslider {
	width: 54px;
	height: 34px;
	top: -10px;
	border-radius: 17px;
	background-color: rgb(228, 23, 23);
	box-shadow: 0 0 24px rgba(165, 5, 5, 1);
}
.cqsliderContainer_active .cqsliderText,
.cqsliderContainer_success .cqsliderText,
.cqsliderContainer_fail .cqsliderText {
	display: none;
}
.cqslider {/*滑块阴影*/
	position: absolute;
	top: -10px;
	left: 15px;
	width: 52px;
	height: 34px;
	border-radius: 17px;
	background: #20b275;
	box-shadow: 0 0 12px rgba(0, 141, 59, 0.795);
	cursor: pointer;
}
.cqsliderIcon {
	position: absolute;
	top: 12px;
	left: 18px;
	width: 14px;
	height: 10px;
    background: url(http://cstaticdun.126.net//2.6.3/images/icon_light.f13cff3.png) 0 -13px;
}
.cqrefreshIcon{
    cursor: pointer;
    float: right;
    color: #bcbcbd;
}
.cqyanzhenghou{
    margin-left: 10%;
    margin-top: 30px;
    display: none;
}

/******************** 登陆按钮 *****************************/
.cqLoginOver{
    width: 82px; height: 52px;
    display: inline-block;
    margin-left: 50%;
    margin-top: 20px;
    border-radius: 48px;
    background-color: #eee;
    box-shadow: 0 3px 4px 2px #ccc;
    color: #999;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    line-height: 52px;
    cursor: not-allowed;
    -webkit-user-select:none;
    -ms-user-select:none;
}
.cqZhuceOver{
    width: 82px; height: 52px;
    display: inline-block;
    border-radius: 48px;
    background-color: #20b275;
    box-shadow: 0 3px 4px 2px #ccc;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    line-height: 52px;
    margin: 100px 0 0 50px;
    cursor: pointer;
    -webkit-user-select:none;
    -ms-user-select:none;
}
.cqZhuceOver:hover{
    background-color: #34bd84;
}
.cqafter{
    color: #999;
}
.cqafter:hover{
    background-color: #34bd84;
    color: #fff;
}


/*********************** 左边导航--登录、注册、关于星享俱乐部  ********************/

/* 登陆 */
.cq_left_login span{
    font-size: 16px;
    color: #333;
    border-bottom: #20b275 solid 3px;
    line-height: 48px;
    padding-bottom: 7px;
    font-weight: 900;
    cursor: pointer;
}
.cq_left_new,.cq_left_about{
    font-size: 16px;
    color: #888;
    line-height: 36px;
}
.cq_left_new:hover{
    color: #333;
}
.cq_left_about:hover{
    color: #333;
}

/*******************  注销  *****************************/
.cqLogout{
    width: 82px; height: 52px;
    display: inline-block;
    border-radius: 48px;
    background-color: #20b275;
    box-shadow: 0 3px 4px 2px #ccc;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    line-height: 52px;
    margin: 100px 0 0 50px;
    cursor: pointer;
    -webkit-user-select:none;
    -ms-user-select:none;
    display: none;
}
.cqLogout:hover{
    background-color: #9e020f;
}