/* 左边栏 */

html,
body {
    width: 100%;
    height: 100%;
}

.product_wrap {
    width: 100%;
    height: 100%;
    background: pink;
}

.product_side_nav {
    width: 30%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}


/* 右边栏 */

.product_contain {
    margin-left: 30%;
    position: relative;
    /* left: auto;
padding-bottom: 24px;
padding-top: 24px; */
    width: 70%;
    background: #f7f7f7;
    overflow: hidden;
    border-left: 1px solid #ccc;
}