html,
body {
    width: 100%;
    height: 100%;
}

.map_wrap {
    width: 100%;
    height: 100%;
    background: #fff;
}

.map_side_nav {
    width: 30%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.map_contain {
    margin-left: 30%;
    position: relative;
    width: 70%;
    background: #fff;
    height: 100%;
    overflow: hidden;
}

.map_side_all_default {
    width: 100%;
    height: 100%;
    display: block;
}

.map_top_nav {
    height: 99px;
    /* background: #00a862; */
}

.map_icon {
    /* width: 36px;
    height: 36px; */
    line-height: 72px;
    margin-top: 18px;
    margin-left: 16px;
    float: left;
}

.map_three_nav {
    /* display: inline-block; */
    width: 200px;
    height: 72px;
    margin-right: 10px;
    float: left;
}

.map_three_nav li {
    line-height: 72px;
    font-size: 16px;
    padding: 5px 10px 5px;
    font-weight: 700;
    font-family: '微软雅黑';
    float: left;
}

.map_menu_ic {
    float: right;
    width: 36px;
    height: 24px;
    margin-top: 30px;
    margin-right: 30px;
}

.map_login {
    height: 40px;
    display: inline-block;
}

.map_login_icon {
    margin-top: 6px;
}

.map_login_text {
    color: #00a862;
    font-size: 16px;
    line-height: 40px;
}

.map_regist_text {
    color: #00a862;
    font-size: 16px;
    border: solid 1px #00a862;
    border-radius: 20px;
    padding: 4px 10px;
    line-height: 40px;
    margin-left: 20px;
}

.map_side_all_menu {
    display: none;
    overflow-y: auto;
    height: 100%;
}

.map_menu_close {
    float: right;
    margin-top: 30px;
    margin-right: 22px;
}

.map_menu_parent {
    box-sizing: border-box;
    padding: 0px 24px 0px 84px;
}

.map_menu_parent li {
    font-size: 18px;
    font-weight: 700;
    font-family: '黑体';
    display: inline-block;
    padding-bottom: 10px;
    color: #000;
    display: block;
    height: 28px;
}

.map_menu_line {
    height: 1px !important;
    width: 100%;
    background: #E0E0E0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 0px !important;
}

.map_menu_footer {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 16px;
}

.map_menu_footer span,
.map_gongan_a,
.map_copy {
    font-size: 14px;
    color: #9E9E9E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    line-height: 20px;
}

.map_gongan {
    width: 16px;
    height: 16px;
    display: inline-block;
}


/* 左侧区域定位部分开始 */

.map_locate_body {
    width: 100%;
    overflow-y: auto;
    height: 85%;
}

.map_locate_contain {
    background: #fff;
}

.map_locate_nav {
    margin: 24px 0 0 0;
}

.filter {
    color: #00A862;
    font-size: 17px;
    margin-top: 28px;
    float: right;
    margin-right: 40px;
    font-family: "Gotham", Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.map_locate_search {
    float: left;
}

.map_locate_icon {
    margin-left: 20px;
}

.map_locate_switch i {
    font-style: normal;
    padding-right: 5px;
}

.map_ipt {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-left: 24px;
    padding: 4px 0;
    margin-bottom: 15px;
}

.map_ipt:hover {
    border-bottom: 1px solid #00A862;
}

.map_ipt_search {
    border: none;
    outline: none;
    border-radius: 0;
    box-sizing: border-box;
    padding: 4px 0;
    font-size: 16px;
}

.map_ipt .iconfont {
    font-size: 22px !important;
}

.map_locate_list {
    display: block;
    /* height: 100%; */
    margin-top: 100px;
}

.map_locate_list li {
    box-sizing: border-box;
    cursor: pointer;
    padding: 25px 30px;
    width: 100%;
    position: relative;
    display: block;
    height: 137px;
}

.map_locate_list li:hover {
    background-color: #eee;
}

.map_locate_list .number {
    position: absolute;
    left: 24px;
    top: 10%;
}

.map_locate_list .number span {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
    z-index: 1;
}

.map_locate_list .number i {
    position: relative;
    right: auto;
    top: 20px;
    font-size: 36px !important;
    color: #B3B3B3;
}

.map_text {
    margin-left: 30px;
    float: left;
}

.map_store {
    font-size: 16px;
    font-weight: bold;
    color: #212121;
}

.map_delivery {
    width: 28px;
}

.map_address {
    display: block;
    width: 240px;
    margin: 4px 0 0 0;
    font-size: 14px;
    color: #707070;
    line-height: 160%;
}

.map_distance {
    color: #5C5C5C;
}

.map_locate_list li .notice {
    float: right;
    font-size: 30px !important;
    color: #00A862;
    font-weight: bold !important;
    padding-top: 16px;
}

.map_overlay_inner {
    overflow-y: auto;
    width: 100%;
    height: 85%;
    display: none;
}

.map_inner_contain {
    width: 100%;
}

.map_inner_head {
    height: 60px;
    background: white;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    float: right;
}

.map_inner_head .map_close_btn {
    padding: 20px 20px 0 0;
    float: right;
    height: 48px;
    opacity: 0.8;
    overflow: hidden;
    cursor: pointer;
}

.map_coffee_body {
    background: white;
    width: 100%;
}

.map_coffee_contain {
    overflow-y: auto;
    width: 100%;
}

.map_coffee_head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 0px;
    box-sizing: border-box;
    width: 100%;
}

.map_coffee_head h2 {
    font-family: "Gotham", Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 26px;
    padding-left: 20px;
    line-height: 140%;
}

.map_coffee_head p {
    font-family: "Gotham", Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: rgba(0, 0, 0, 0.56);
    line-height: 140%;
    padding: 10px 0 30px 20px;
    font-size: 16px;
}

.map_coffer_list {
    display: block;
}

.map_coffer_list li {
    cursor: pointer;
    display: block;
    cursor: pointer;
    line-height: 160%;
    padding: 24px 0;
}

.map_coffer_list li:hover {
    background: #eee;
}

.map_coffer_list li img {
    width: 20px;
    margin: 0 6px 0 20px;
}

.map_coffer_list li span {
    font-size: 17px;
    line-height: 160%;
    /* color: inherit; */
    color: rgba(0, 0, 0, 0.56);
    font-family: "Gotham", Helvetica, Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


/*右侧高德地图css */

#container {
    width: 100%;
    height: 100%;
}