        html,
        body {
            width: 100%;
            height: 100%;
        }
        
        .menus_wrap {
            width: 100%;
            height: 100%;
            background: pink;
        }
        
        .menu_side_nav {
            width: 30%;
            height: 100%;
            background: #ffffff;
            position: fixed;
            top: 0;
            left: 0;
        }
        /* 左侧菜单栏样式~start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        
        .menu_side_all_default {
            width: 100%;
            height: 100%;
            display: block;
        }
        
        .menu_top_nav {
            height: 72px;
        }
        
        .menu_icon {
            line-height: 72px;
            margin-top: 18px;
            margin-left: 16px;
            float: left;
            cursor: pointer;
        }
        
        .menu_three_nav {
            width: 200px;
            height: 72px;
            margin-right: 10px;
            float: left;
            cursor: pointer;
        }
        
        .menu_three_nav li {
            line-height: 72px;
            font-size: 16px;
            padding: 5px 10px 5px;
            font-weight: 700;
            font-family: '微软雅黑';
            float: left;
        }
        
        .menu_menu_ic {
            float: right;
            width: 36px;
            height: 24px;
            margin-top: 30px;
            margin-right: 30px;
            cursor: pointer;
        }
        
        .menu_left_side_content {
            width: 270px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -90%);
        }
        
        .menu_slogan {
            font-size: 26px;
            font-weight: 700;
            font-family: 'Gotham';
            color: #212121;
        }
        
        .menu_login_and_regist_parent {
            margin-top: 24px;
        }
        
        .menu_login {
            height: 40px;
            display: inline-block;
            cursor: pointer;
        }
        
        .menu_login_icon {
            margin-top: 6px;
        }
        
        .menu_login_text {
            color: #00a862;
            font-size: 16px;
            line-height: 40px;
        }
        
        .menu_regist_text {
            color: #00a862;
            font-size: 16px;
            border: solid 1px #00a862;
            border-radius: 20px;
            padding: 4px 10px;
            line-height: 40px;
            margin-left: 20px;
            cursor: pointer;
        }
        
        .menu_side_all_menu {
            display: none;
            overflow-y: auto;
            height: 100%;
        }
        
        .menu_menu_close {
            float: right;
            margin-top: 30px;
            margin-right: 22px;
            cursor: pointer;
        }
        
        .menu_menu_parent {
            box-sizing: border-box;
            padding: 0px 24px 0px 84px;
        }
        
        .menu_menu_parent li {
            font-size: 18px;
            font-weight: 700;
            font-family: '黑体';
            display: inline-block;
            padding-bottom: 10px;
            color: #000;
            display: block;
            height: 28px;
            cursor: pointer;
        }
        
        .menu_menu_line {
            height: 1px !important;
            width: 100%;
            background: #E0E0E0;
            margin-top: 10px;
            margin-bottom: 20px;
            padding-bottom: 0px !important;
        }
        
        .menu_menu_footer {
            width: 200px;
            margin-top: 10px;
            margin-bottom: 30px;
            line-height: 16px;
        }
        
        .menu_menu_footer span,
        .menu_gongan_a,
        .menu_copy {
            font-size: 14px;
            color: #9E9E9E;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow';
            line-height: 20px;
        }
        
        .menu_gongan {
            width: 16px;
            height: 16px;
            display: inline-block;
        }
        /* 左侧菜单栏样式~end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        /* 右边栏 */
        
        .menus_contain {
            margin-left: 30%;
            position: relative;
            /* left: auto;
padding-bottom: 24px;
padding-top: 24px; */
            width: 70%;
            background: #f7f7f7;
            overflow: hidden;
            border-left: 1px solid #ccc;
            box-sizing: border-box;
        }
        
        .menus_ad {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #000;
            color: #fff;
            font-size: 12px;
            line-height: 16px;
            padding: 2px 6px;
        }
        
        .menus_pic {
            width: 100%;
            height: auto;
            display: inline-block;
            box-sizing: border-box;
        }
        
        .menus_wrapper {
            text-align: center;
            padding: 30px 0;
            margin-left: auto;
            margin-right: auto;
            max-width: 768px;
            width: 100%;
        }
        
        .menus_wrapper h2 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 18px;
        }
        
        .menus_wrapper p {
            padding: 0 20px;
            font-size: 17px;
            line-height: 25px;
        }
        /* 完美图片 */
        
        .menus_featued-item {
            padding-bottom: 20px;
            background-color: #fff;
        }
        
        .menus_item {
            padding-top: 20px;
            background-color: #fff;
        }
        
        .menus_datu a {
            text-align: center;
            display: block;
            padding-bottom: 20px;
            margin-bottom: 30px;
        }
        
        .menus_img {
            width: calc(100% - 40px);
            height: auto;
            display: inline-block;
        }
        
        .menus_datu {
            margin-bottom: 30px;
            font-weight: 600;
        }
        
        .menus_miaosu {
            text-align: center;
            padding: 0 24px;
            margin-left: auto;
            margin-right: auto;
            max-width: 768px;
            width: 100%;
            background-color: #fff;
        }
        
        .menus_miaosu h2 {
            margin-bottom: 18px;
            font-size: 22px;
        }
        
        .menus_miaosu p {
            font-weight: 500;
            margin-bottom: 24px;
            font-size: 17px;
            line-height: 24px;
        }
        
        .menus_banner3 p {
            font-size: 17px;
            line-height: 24px;
        }
        
        .menus_bnner4 p {
            font-size: 18px;
            line-height: 22px;
        }
        /* 新品列表 */
        
        .menus_drink {
            text-align: center;
            padding: 40px 24px 0 24px;
            background-color: #f7f7f7;
            ;
            margin-right: auto;
            margin-left: auto;
            max-width: 768px;
            width: 100%;
            display: block;
            overflow: hidden;
        }
        
        .menus_all {
            font-size: 22px;
            text-align: center;
            margin-bottom: 18px;
            font-weight: 600;
            color: #000;
        }
        
        .menus_tel {
            overflow: hidden;
            text-align: center;
            display: block;
        }
        
        .menus_tu {
            padding: 18px;
            height: 309px;
            width: 33.333%;
            box-sizing: border-box;
            float: left;
            overflow: hidden;
        }
        
        .menus_tu img {
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
        }
        
        .menus_tu p {
            font-size: 17px;
            color: #000;
            margin: 0 0 24px;
            text-align: center;
        }
        /* 搜索菜单 */
        
        .menus_btn {
            position: fixed;
            right: 16px;
            bottom: 16px;
            z-index: 996;
            border-color: #00A862;
            box-sizing: border-box;
            background-color: #00A862;
            border-radius: 25px;
            padding: 12px 18px;
        }
        
        .menus_search {
            border-color: #00A862;
            background-color: #00A862;
            text-align: center;
            color: #fff;
            font-size: 18px;
            border-style: none;
            position: relative;
            align-items: flex-start;
            outline: none;
        }
        /* 菜单里面 */
        
        .menus_search_interior {
            border-style: none;
            position: fixed;
            background-color: #fff;
            border-left: 1px solid #ccc;
            height: 100%;
            box-sizing: border-box;
            min-width: 70%;
        }
        
        .menus_heade {
            padding: 24px;
        }
        
        .menus_close {
            font-size: 22px;
            float: right;
            background-color: #fff;
            margin: -12px;
            border-style: none;
            outline: none;
        }
        
        .menus_middle {
            max-width: 480px;
            padding: 24px;
            visibility: visible;
            text-align: center;
            margin: auto;
            background-color: #fff;
        }
        
        .menus_fielu {
            display: block;
            margin-bottom: 18px;
            position: relative;
        }
        
        .menus_bton {
            position: absolute;
            right: 12px;
            top: 14px;
            border-style: none;
            display: block;
            font-size: 18px;
        }
        
        .menus_ipt {
            border-style: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            padding: 4px 0;
            width: 100%;
            outline: none;
            font-size: 18px;
        }
        
        .menus_biaoq {
            margin-bottom: 18px;
            text-align: left;
        }
        
        .menus_tag {
            padding: 4px 12px;
            color: #fff;
            font-size: 16px;
            display: inline-block;
            background: #00A862;
        }
        
        .menus_grid li {
            padding: 12px;
            box-sizing: border-box;
            float: left;
            width: 25%;
            -webkit-transition: all 0.3s
        }
        
        .menus_grid li:hover {
            transform: translateY(-5px);
        }
        
        .menus_chaolian {
            display: block;
        }
        
        .menus_chaolian p {
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            color: #000;
        }
        
        .menus_xiaotu {
            background-image: url(../images/menus-caramel-macchiato.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            margin: 0 6px auto;
            display: inline-block;
            width: 86px;
            height: 86px;
            border-radius: 50%;
        }
        
        .menus_ture {
            background-image: url(../images/product_mezzo_h.png);
            width: 86px;
            height: 86px;
        }
        
        .menus_three {
            background-image: url(../images/product_mezzo_d.jpg);
            width: 86px;
            height: 86px;
        }
        
        .menus_foru {
            background-image: url(../images/product_mezzo_c.png);
            width: 86px;
            height: 86px;
        }