html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

.reserve_wrap {
    width: 100%;
    height: 100%;
}

.reserve_side_nav {
    width: 30%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}

.reserve_contain {
    margin-left: 30%;
    position: relative;
    border: solid 2px #F2F2F2;
    width: 70%;
    overflow: hidden;
}

/* 左侧菜单栏样式~start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.reserve_side_all_default {
    width: 100%;
    height: 100%;
    display: block;
}

.reserve_top_nav {
    height: 72px;
}

.reserve_icon {
    line-height: 72px;
    margin-top: 18px;
    margin-left: 16px;
    float: left;
    cursor: pointer;
}

.reserve_three_nav {
    width: 200px;
    height: 72px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
}

.reserve_three_nav li {
    line-height: 72px;
    font-size: 16px;
    padding: 5px 10px 5px;
    font-weight: 700;
    font-family: '微软雅黑';
    float: left;
}

.reserve_menu_ic {
    float: right;
    width: 36px;
    height: 24px;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.reserve_left_side_content {
    width: 270px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -220%);
}

.reserve_slogan {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Gotham';
    color: #212121;
}

.reserve_side_all_menu {
    display: none;
    overflow-y: auto;
    height: 100%;
}

.reserve_menu_close {
    float: right;
    margin-top: 30px;
    margin-right: 22px;
    cursor: pointer;
}

.reserve_menu_parent {
    box-sizing: border-box;
    padding: 0px 24px 0px 84px;
}

.reserve_menu_parent li {
    font-size: 18px;
    font-weight: 700;
    font-family: '黑体';
    display: inline-block;
    padding-bottom: 10px;
    color: #000;
    display: block;
    height: 28px;
    cursor: pointer;
}

.reserve_menu_line {
    height: 1px !important;
    width: 100%;
    background: #E0E0E0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 0px !important;
}

.reserve_menu_footer {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 16px;
}

.reserve_menu_footer span,
.reserve_gongan_a,
.reserve_copy {
    font-size: 14px;
    color: #9E9E9E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    line-height: 20px;
}

.reserve_gongan {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.reserve_login_and_regist_parent {
    margin-top: 24px;
}

.reserve_login {
    height: 40px;
    display: inline-block;
    cursor: pointer;
}

.reserve_login_icon {
    margin-top: 6px;
}

.reserve_login_text {
    color: #00a862;
    font-size: 16px;
    line-height: 40px;
}

.reserve_regist_text {
    color: #00a862;
    font-size: 16px;
    border: solid 1px #00a862;
    border-radius: 20px;
    padding: 4px 10px;
    line-height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

/* 左侧菜单栏样式~end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.reserve_banner {
    width: 100%;
    height: 316px;
}

.reserve_banner_img {
    width: 100%;
    height: 100%;
}

.reserve_part2 {
    padding: 48px 0;
    background: #F7F7F5;
}

.reserve_part2_div_p {
    font-size: 16px;
    font-family: "Gotham";
    line-height: 25px;
    text-align: center;
    padding: 24px 150px;
    margin-bottom: 24px;
    text-indent: 2em;
    color: #262626;
}

.reserve_part2_div_p2_a {
    color: #fff;
    font-size: 16px;
    font-family: "Gotham";
    padding: 12px 24px;
    background: #C48D69;
    border: solid 1px #C48D69;
    position: relative;
    left: 38%;
    border-radius: 30px;
}