html,
body {
    width: 100%;
    height: 100%;
}

.home_wrap {
    width: 100%;
    height: 100%;
    background: pink;
}


/* 左侧菜单栏样式~start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.home_side_nav {
    width: 30%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}

.home_contain {
    margin-left: 30%;
    position: relative;
    /* left: auto;
    padding-bottom: 24px;
    padding-top: 24px; */
    width: 70%;
    background: yellowgreen;
    height: 100%;
    overflow: hidden;
}

.home_top_nav {
    height: 72px;
}

.home_icon {
    width: 36px;
    height: 36px;
    line-height: 72px;
    margin-top: 18px;
    margin-left: 16px;
}

.home_three_nav {
    display: inline-block;
    line-height: 72px;
    margin-left: 10px;
    margin-right: 10px;
}

.home_mendian,
.home_my_account,
.home_menu {
    font-size: 16px;
    padding: 5px 10px 5px;
    font-weight: 700;
    font-family: '微软雅黑';
}

.home_menu_ic {
    float: right;
    width: 36px;
    height: 24px;
    margin-top: 22px;
    margin-right: 16px;
}

.home_left_side_content {
    width: 270px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_slogan {
    font-size: 26px;
    font-weight: 700;
    font-family: '黑体';
}

.home_login_and_regist_parent {
    margin-top: 24px;
}

.home_login {
    height: 40px;
}

.home_login_icon {
    margin-top: 6px;
}

.home_login_text {
    color: #00a862;
    font-size: 16px;
    line-height: 40px;
}

.home_regist_text {
    color: #00a862;
    font-size: 16px;
    border: solid 1px #00a862;
    border-radius: 20px;
    padding: 4px 10px;
    line-height: 40px;
    margin-left: 20px;
}


/* 左侧菜单栏样式~end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/