html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

.home_wrap {
    width: 100%;
    height: 100%;
    /* background: pink; */
}

.home_side_nav {
    width: 30%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}

.home_contain {
    margin-left: 30%;
    position: relative;
    /* left: auto;
    padding-bottom: 24px;
    padding-top: 24px; */
    width: 70%;
    /* background: yellowgreen; */
    /* height: 100%; */
    overflow: hidden;
}


/* 左侧菜单栏样式~start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.home_side_all_default {
    width: 100%;
    height: 100%;
    display: block;
}

.home_top_nav {
    height: 72px;
}

.home_icon {
    /* width: 36px;
    height: 36px; */
    line-height: 72px;
    margin-top: 18px;
    margin-left: 16px;
    float: left;
}

.home_three_nav {
    /* display: inline-block; */
    width: 200px;
    height: 72px;
    margin-right: 10px;
    float: left;
}

.home_three_nav li {
    line-height: 72px;
    font-size: 16px;
    padding: 5px 10px 5px;
    font-weight: 700;
    font-family: '微软雅黑';
    float: left;
}

.home_menu_ic {
    float: right;
    width: 36px;
    height: 24px;
    margin-top: 30px;
    margin-right: 30px;
}

.home_left_side_content {
    width: 270px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_slogan {
    font-size: 26px;
    font-weight: 700;
    font-family: '黑体';
}

.home_login_and_regist_parent {
    margin-top: 24px;
}

.home_login {
    height: 40px;
    display: inline-block;
}

.home_login_icon {
    margin-top: 6px;
}

.home_login_text {
    color: #00a862;
    font-size: 16px;
    line-height: 40px;
}

.home_regist_text {
    color: #00a862;
    font-size: 16px;
    border: solid 1px #00a862;
    border-radius: 20px;
    padding: 4px 10px;
    line-height: 40px;
    margin-left: 20px;
}

.home_side_all_menu {
    display: none;
    overflow-y: auto;
    height: 100%;
}

.home_menu_close {
    float: right;
    margin-top: 30px;
    margin-right: 22px;
}

.home_menu_parent {
    box-sizing: border-box;
    padding: 0px 24px 0px 84px;
}

.home_menu_parent li {
    font-size: 18px;
    font-weight: 700;
    font-family: '黑体';
    display: inline-block;
    padding-bottom: 10px;
    color: #000;
    display: block;
    height: 28px;
}

.home_menu_line {
    height: 1px !important;
    width: 100%;
    background: #E0E0E0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 0px !important;
}

.home_menu_footer {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 16px;
}

.home_menu_footer span,
.home_gongan_a,
.home_copy {
    font-size: 14px;
    color: #9E9E9E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    line-height: 20px;
}

.home_gongan {
    width: 16px;
    height: 16px;
    display: inline-block;
}


/* 左侧菜单栏样式~end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*右侧内容区~~start~~~~~~~~~~~~~~~*/

.swiper-container {
    width: 100%;
    height: 400px;
    background: palegoldenrod;
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/* .swiper-slide img {
    width: 100%;
    height: 400px;
} */

.home_content_part1 {
    width: 100%;
    padding: 24px;
    background: #F7F7F7;
    height: 170px;
}

.home_content_part1_li {
    float: left;
    padding-right: 24px;
    transition: transform 0.2s;
    width: 30%;
}

.home_content_part1_li_img {
    width: 100%;
    height: 166px;
    display: inline-block;
    box-shadow: 0 2px 3px #cccccc;
    cursor: pointer;
}

.home_content_part1_li_img:hover {
    transform: translate(0, -5px);
    box-shadow: 0 4px 4px #cccccc;
}

.home_content_part2 {
    width: 100%;
    /* height: 247px; */
    background: #ffffff;
}

.home_content_part2_left_div {
    padding: 36px 80px;
    width: 360px;
    float: left;
}

.home_content_part2_right_img {
    float: right;
    padding-right: 80px;
    padding-top: 80px;
}

.home_content_part2_left_div_h2 {
    font-size: 22px;
    color: #000000;
    margin-bottom: 18px;
    font-family: "Gotham";
}

.home_content_part2_left_div_p {
    font-size: 16px;
    margin-bottom: 24px;
    font-family: "Gotham";
    color: #6F6F6F;
    line-height: 30px;
}

.home_content_part2_left_div_p_span {
    color: #C2A661;
    cursor: pointer;
}

.home_login_and_regist_style {
    color: #00a862;
    font-size: 16px;
    border: solid 1px #00a862;
    border-radius: 20px;
    padding: 10px 16px;
    line-height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.home_content_part3 {
    width: 100%;
    background: #F7F7F7;
}

.home_content_part3_wrapper {
    padding: 36px 84px;
}

.home_content_part3_wrapper_h2 {
    font-size: 22px;
    margin-bottom: 18px;
    text-align: center;
    /* padding-top: 36px; */
    font-family: "Gotham";
}

.home_content_part3_wrapper_p {
    text-align: center;
    margin-bottom: 24px;
    color: #6C6C6C;
    font-size: 16px;
    font-family: "Gotham";
}

.home_content_part3_wrapper_ul {
    padding-top: 20px;
}

.home_content_part3_wrapper_ul_li {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 12px;
    transition: transform 0.2s;
    cursor: pointer;
}

.home_content_part3_wrapper_ul_li:hover {
    transform: translate(0, -5px);
}

.home_content_part3_wrapper_ul_li_div {
    width: 100%;
    border: solid #eee 1px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px #cccccc;
}

.home_content_part3_wrapper_ul_li_div_name {
    font-size: 16px;
    font-weight: 700;
    font-family: "Gotham";
    padding-bottom: 18px;
    padding-top: 45px;
    text-align: center;
}

.home_content_part3_wrapper_ul_li_div_text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Gotham";
    text-align: center;
    color: #6F6F6F;
}

.home_content_part3_wrapper_ul_li_img {
    width: 84px;
    height: 60px;
    margin-bottom: -34px;
    margin-left: 35px;
}

.home_content_part3_wrapper_ul_li_div_more {
    font-size: 12px;
    font-family: "Gotham";
    padding-top: 18px;
    padding-bottom: 24px;
    text-align: center;
    color: #D5C192;
}