html,
body {
    width: 100%;
    height: 100%;
    font-family: '微软雅黑';
}

.xlk_wrap {
    width: 100%;
    height: 100%;
}


/* -------------xlk_wrap end----------------- */


/* 左侧菜单栏样式~start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.xlk_side_nav {
    width: 30%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}

.xlk_side_all_default {
    width: 100%;
    height: 100%;
    display: block;
}

.xlk_top_nav {
    height: 72px;
}

.xlk_icon {
    /* width: 36px;
    height: 36px; */
    line-height: 72px;
    margin-top: 18px;
    margin-left: 16px;
    float: left;
    cursor: pointer;
}

.xlk_three_nav {
    /* display: inline-block; */
    width: 200px;
    height: 72px;
    margin-right: 10px;
    float: left;
    cursor: pointer;
}

.xlk_three_nav li {
    line-height: 72px;
    font-size: 16px;
    padding: 5px 10px 5px;
    font-weight: 700;
    font-family: '微软雅黑';
    float: left;
}

.xlk_menu_ic {
    float: right;
    width: 36px;
    height: 24px;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.xlk_left_side_content {
    width: 270px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.xlk_login_and_regist_parent {
    margin-top: 24px;
}

.xlk_login {
    height: 40px;
    display: inline-block;
    cursor: pointer;
}

.xlk_login_icon {
    margin-top: 6px;
}

.xlk_login_text {
    color: #00a862;
    font-size: 16px;
    line-height: 40px;
}

.xlk_regist_text {
    color: #00a862;
    font-size: 16px;
    border: solid 1px #00a862;
    border-radius: 20px;
    padding: 4px 10px;
    line-height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.xlk_side_all_menu {
    display: none;
    overflow-y: auto;
    height: 100%;
}

.xlk_menu_close {
    float: right;
    margin-top: 30px;
    margin-right: 22px;
    cursor: pointer;
}

.xlk_menu_parent {
    box-sizing: border-box;
    padding: 0px 24px 0px 84px;
}

.xlk_menu_parent li {
    font-size: 18px;
    font-weight: 700;
    font-family: '黑体';
    display: inline-block;
    padding-bottom: 10px;
    color: #000;
    display: block;
    height: 28px;
    cursor: pointer;
}

.xlk_menu_line {
    height: 1px !important;
    width: 100%;
    background: #E0E0E0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 0px !important;
}

.xlk_menu_footer {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 16px;
}

.xlk_menu_footer span,
.xlk_gongan_a,
.xlk_copy {
    font-size: 14px;
    color: #9E9E9E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    line-height: 20px;
}

.xlk_gongan {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.xlk_content {
    margin-top: -107px;
}

.xlk_content h1 {
    font-size: 26px;
    color: #333333;
}

.xlk_content p {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #8d8c8c;
    margin-top: 10px;
    padding-bottom: 5px;
    width: 100px;
    cursor: pointer;
}

.xlk_content p:nth-of-type(1) {
    width: 85px;
}

.xlk_content p:nth-of-type(2) {
    width: 85px;
    font-weight: 600;
    color: #333333;
    border-bottom: 3px solid #00A862;
}

.xlk_content p:nth-of-type(1):hover {
    color: #333333;
}

.xlk_content p:nth-of-type(3):hover {
    color: #333333;
}


/*--------------------- xlk_sideNav end ---------------------*/

.xlk_contain {
    margin-left: 30%;
    position: relative;
    /* left: auto;
    padding-bottom: 24px;
    padding-top: 24px; */
    width: 70%;
    background: #F7F7F7;
    /* height: 100%; */
    overflow: hidden;
}

.xlk_inquire {
    width: 68%;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 70px;
}

.xlk_inquire_top {
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.xlk_inquire_top_a {
    width: 390px;
    height: 33px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 25px;
}

.xlk_inquire_top_a a {
    display: block;
    float: left;
    width: 191px;
    height: 31px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #00a862;
}

.xlk_inquire_top_a1 {
    background: #00a862;
    color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.xlk_inquire_top_a2 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #00a862;
    background: #ffffff;
}


/* -----------xlk_inquire_top end -------------------*/

.xlk_inquire_main {
    width: 100%;
    /* height: 640px; */
    background: #ffffff;
    box-shadow: 0 2px 2px #cccccc;
    overflow: hidden;
}

.xlk_inquire_main_top {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #E0E0E0;
}

.xlk_inquire_main_top h1 {
    font-weight: 400;
    line-height: 70px;
    font-size: 22px;
    margin-left: 25px;
}


/*--------------- xlk_inquire_main_top end -----------------*/

.xlk_inquire_main_kh {
    width: 100%;
    height: 70px;
}

.xlk_inquire_main_kh p {
    color: #707070;
    font-size: 16px;
    line-height: 60px;
    margin-left: 27px;
}

.xlk_inquire_main_inp1,
.xlk_inquire_main_inp2 {
    border: none;
    border-bottom: 1px solid#E0E0E0;
    width: 93%;
    display: block;
    margin: 0 auto;
    outline: none;
    font-size: 16px;
    height: 20px;
    font-weight: 600;
    font-family: '8emArial';
    padding-bottom: 8px;
}

.xlk_inquire_main_lb1,
.xlk_inquire_main_lb2 {
    font-size: 16px;
    color: #9E9E9E;
    position: relative;
    left: 27px;
    top: 10px;
}

.xlk_inquire_main_p1,
.xlk_inquire_main_p2 {
    font-size: 16px;
    color: #9E9E9E;
    margin: 5px 0 0 25px;
    display: none;
}

.xlk_inquire_main_p1 span,
.xlk_inquire_main_p2 span {
    display: block;
    float: left;
    color: #E75D54;
    font-size: 24px;
    margin: -6px 7px 0 0;
}

.xlk_inquire_main_form1 {
    margin-bottom: 40px;
}

.xlk_inquire_main_lb2 {
    padding-top: 20px;
}


/*------------ 滑动验证CSS -----------*/

.container {
    width: 310px;
    margin: 30px auto;
}

#msg {
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

.xlk_mbc {
    width: 310px;
    height: 155px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    display: none;
}

.xlk_mbc p {
    color: #00a862;
    text-align: center;
    line-height: 155px;
    font-size: 16px;
}

.xlk_pro {
    margin-bottom: 3px;
}

.xlk_pro span {
    font-size: 14px;
    color: #333;
}

.xlk_pro a {
    font-size: 12px;
    color: #B3B3B3;
    margin-left: 0;
}

.pro_a {
    display: inline-block;
    float: right;
}

.xlk_pro a:hover {
    color: #666;
}

.test_suc {
    display: none;
    margin-top: 80px;
}

.test_suc p {
    font-size: 20px;
    color: #00a862;
    text-align: center;
    line-height: 30px;
}

.test_suc p span {
    font-size: 24px;
}

.xlk_lasta {
    display: block;
    width: 80px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    background: #F7F7F7;
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    box-shadow: 0 2px 2px 1px #cccccc;
    margin: 50px 0 20px 620px;
}